

  .text-light{
    text-size-adjust: 100px;
  }

   .search-title
  {
    display: none;
    color: white;
  } 
  .trending-btn
  {
    border-radius: 40px;
  }

  .upcoming-btn
  {
    border-radius: 40px;
  }
  .popular-btn
  {
    border-radius: 40px;
  }


.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
  
  #logo-home {

    max-height: 200px;
    max-width: 200px;
    border: 5px solid #000000;
  }

  .row{
   align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
     overflow-y: hidden;     


  }

 
  

  .card {

    max-width: 200px;
    min-width: 198px;
    min-height: 480px;
    max-height: 500px;
    padding: .75rem; 
    margin-bottom: 2rem;
    border: 20; 
    flex-basis: 50.333%;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1px; 
    border-color: rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
  }
  
 
  .card > img {
    margin-bottom: .75rem;
    width: 100%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.35);
  }
  
  .card-text {
    font-size: 120%;
    margin-top: -10px;
  }

#rating {
  padding-top: 15px;
  color: orange;
  text-shadow: 0 1px 10px orange;
}


#cover
{
  text-align: center;
  justify-content: center;
}


#catagoryTitle{
  color: white;
  font-size: 55px;
}

input{
  width:600px;
}

.search-cont {
  position: absolute;
  top: 20%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;

}

.search-cont:hover > .searchInput {
  width: 340px;
  padding: 0 6px;
}

.search-cont:hover > .search-btn {
background: white;
color : #2f3640;
}

.search-btn {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
 padding-bottom: 15px;
}

@media screen and (max-width: 620px) {
.search-cont:hover > .searchInput {
  width: 150px;
}
}
