
 

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* .background-signup{
    
    background-image: url("https://www.fool.ca/wp-content/uploads/2020/11/movie-theatre.jpg");
  
 
    min-height: 700px;
  
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } */
  
  
  .cont-signup {
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 600px;
    padding: 16px;
    margin-top:100px;
    background-color: #222222;
    border-radius: 20px;
  }
 
  #bg-2{
    position: fixed; 
    top: 0; 
    left: 0; 
     
    min-width: 100%;
    min-height: 100%;
  }

  #logo-signup {
    background-color: #222222;
    border-color: #222222;
    border-radius:25px;
 }
  .signup-btn{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008CBA;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  
}