.video
{
   text-align: left; 
   display: none; 
   max-width: 500px;
   max-height: 200px;
    padding-left: 20px;
    flex-grow:1;
}

* {
    box-sizing: border-box;
  }


.cont-trailer { 
     position: absolute; 
    right: 0;
    margin: 50px;
    margin-top:-50px; 
    max-width: 600px;
    padding: 16px;
    background-color: #222222;
    border-radius: 20px;
    color:white;
    display: none;
    padding-bottom: 50px;
    flex-grow:4;
    
  }


  #cover
  {
    text-align: center;
    justify-content: center;
  }

